# Entornos virtuales
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/
emlenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
